<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="true" scan="true" scanPeriod="2">
    
    <property name="path" value="logs" />
    
	<logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="OFF" />  
	
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>debug</level>
        </filter>
        <encoder>
      	  <!-- <pattern>[%-18d{yyyy/MM/dd HH:mm:ss}][%p][%c]%M-> %m%n</pattern> -->
            <pattern>%-18d{yyyy/MM/dd HH:mm:ss} |%-5level| |%logger{36}|%M| -> %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 设置滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--设置日志命名模式-->
            <fileNamePattern>info_%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--最多保留30天log-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!-- 超过150MB时，触发滚动策略 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>150MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
             <pattern>%-18d{yyyy/MM/dd HH:mm:ss} |%logger{36}|%M| -> %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>error_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>150MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%-18d{yyyy/MM/dd HH:mm:ss} |%logger{36}|%M| -> %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="debug">
    	<appender-ref ref="console"/>
        <appender-ref ref="info"/>
        <appender-ref ref="error"/>
    </root>
    
</configuration>